<a href="https://colab.research.google.com/github/jasen8651/python001/blob/master/holly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#구글 드라이브 연결
from google.colab import drive
drive.mount('/content/dirve')
%cd /content/dirve/MyDrive/python_demo

Mounted at /content/dirve
/content/dirve/MyDrive/python_demo

In [2]:
# 1 import
from bs4 import BeautifulSoup
import requests

In [3]:
# 2저장할 리스트 준비
result = []

In [ ]:
# 3 객체 생성하여 파싱
header={"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Whale/3.18.154.5 Safari/537.36"}
url = "https://www.hollys.co.kr/store/korea/korStore2.do"

res = requests.get(url, headers = header)
soup = BeautifulSoup(res.text, 'html.parser')
print(type(soup))

tbody_tag = soup.find('tbody')
#print(type(tbody_tag))

#tr_list_tag = soup.find('tr')
#tr_list_tag =soup.find_all('tr')
#print(len(tr_list_tag))
#print(type(tr_list_tag))
#print(tr_list_tag[0])

tbody_tr_list_tag = tbody_tag.find_all('tr') # tbody 정보만 풀력
#print(len(tbody_tr_list_tag))

In [18]:
for store in tbody_tr_list_tag:
  store_td = store.find_all('td')
  store_area = store_td[0].string #지역
  store_name =store_td[1].string #이름
  store_phon =store_td[5].string #번호
  result.append([store_area]+[store_name]+[store_phon])

In [19]:
#참고
#['a']+['b']
#크롤링 결과 확인
result

[['서울 강남구', '강남우리라운지점', '02-566-1002'],
 ['경기 수원시', '수원영통점', '031-202-3356'],
 ['경기 고양시 덕양구', '원흥역점', '031.967.0302'],
 ['서울 양천구', '오목교역점', '02-2062-8405'],
 ['대구 서구', '롯데시네마프리미엄만경관점', '070-7717-2192'],
 ['전남 순천시', '순천신대점', '061-723-5185'],
 ['서울 금천구', '시흥사거리점', '02-804-9226'],
 ['전북 전주시 완산구', '전주효천점', '063-224-5777'],
 ['제주 제주시', '제주도두해안DT점', '064-745-7301'],
 ['부산 북구', '부산화명점', '070-8884-1101']]

In [25]:
## csv에 저장, db에 저장,
import csv

#파일 이름
fields= ['Storearea', 'storename', 'storephon']
with open('./data_crowing/hollys.csv','w', newline='') as f:
   write = csv.writer(f)
   write.writerow(fields)
   write.writerow(result)

In [22]:
!pwd

/content/dirve/MyDrive/python_demo

In [26]:
%cd data_crowing

/content/dirve/MyDrive/python_demo/data_crowing

In [21]:
!mkdir data_crowing

In [27]:
!ls *.csv

hollys.csv

In [31]:
%cd ..

/content/dirve/MyDrive/python_demo

In [30]:
%cd data_crowing
!cat hollys.csv  #데이터 확인

[Errno 2] No such file or directory: 'data_crowing'
/content/dirve/MyDrive/python_demo/data_crowing
Storearea,storename,storephon
"['서울 강남구', '강남우리라운지점', '02-566-1002']","['경기 수원시', '수원영통점', '031-202-3356']","['경기 고양시 덕양구', '원흥역점', '031.967.0302']","['서울 양천구', '오목교역점', '02-2062-8405']","['대구 서구', '롯데시네마프리미엄만경관점', '070-7717-2192']","['전남 순천시', '순천신대점', '061-723-5185']","['서울 금천구', '시흥사거리점', '02-804-9226']","['전북 전주시 완산구', '전주효천점', '063-224-5777']","['제주 제주시', '제주도두해안DT점', '064-745-7301']","['부산 북구', '부산화명점', '070-8884-1101']"

In [38]:
#저장
import datetime
now = datetime.datetime.today()
print(now)
print(now.utcnow())
print(now.year,now.month, now.day, now.hour, now.minute, now.second)
print(now.date())
print(now.time())

2022-12-12 07:59:19.798351
2022-12-12 07:59:19.800502
2022 12 12 7 59 19
2022-12-12
07:59:19.798351

In [39]:
import time
time.strftime('%Y-%m-%d', time.localtime(time.time()))

'2022-12-12'

In [40]:
#파이선 파일 작성하여 크롤링 작업
from bs4 import BeautifulSoup
import requests
import csv
import datetime

def hollys_store():
  result =[]
  header={"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Whale/3.18.154.5 Safari/537.36"}
  url = "https://www.hollys.co.kr/store/korea/korStore2.do"

  res = requests.get(url, headers = header)
  soup = BeautifulSoup(res.text, 'html.parser')


  tbody_tag = soup.find('tbody')
  tbody_tr_list_tag = tbody_tag.find_all('tr') # tbody 정보만 풀력

  for store in tbody_tr_list_tag:
    store_td = store.find_all('td')
    store_area = store_td[0].string #지역
    store_name =store_td[1].string #이름
    store_phon =store_td[5].string #번호
    result.append([store_area]+[store_name]+[store_phon])  
  return result 

def main( ):
  result = hollys_store()

  to_now = datetime.datetime.today().date()

  fields= ['Storearea', 'storename', 'storephon']
  
  with open('./data_crowing/%s-hollys.csv'% to_now,'w', newline='') as f:
   write = csv.writer(f)
   write.writerow(fields)
   write.writerow(result)

  print('hollys 데이터저장완료')
  del result[:]
if __name__ == '__main__':
  main()

<class 'bs4.BeautifulSoup'>
hollys 데이터저장완료

In [59]:
to_now = datetime.datetime.today().date()
with open('./data_crowing/%s-hollys.csv' % to_now,  'r', newline='',) as f:
  reader = csv.reader(f)
  for row in reader:
    print(row)
   #print('%20s %20s %20s' % (row[0], row[1], row[2]))

['Storearea', 'storename', 'storephon']
["['서울 강남구', '강남우리라운지점', '02-566-1002']", "['경기 수원시', '수원영통점', '031-202-3356']", "['경기 고양시 덕양구', '원흥역점', '031.967.0302']", "['서울 양천구', '오목교역점', '02-2062-8405']", "['대구 서구', '롯데시네마프리미엄만경관점', '070-7717-2192']", "['전남 순천시', '순천신대점', '061-723-5185']", "['서울 금천구', '시흥사거리점', '02-804-9226']", "['전북 전주시 완산구', '전주효천점', '063-224-5777']", "['제주 제주시', '제주도두해안DT점', '064-745-7301']", "['부산 북구', '부산화명점', '070-8884-1101']"]