<a href="https://colab.research.google.com/github/jasen8651/python001/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#정규식 표현식
import re

p = re.compile('[a-z]')
m =p.match('python')
print(m)

n = p.search('python')
n

p= re.compile('[a-z]')
m = p.findall('3 life ti sto short')
print(m)

p = re.compile('[a-z]+')
m = p.findall('li2de uis #ri dgri3 e')
print(m)

In [32]:
p = re.compile('[a-z]')
m = p.match('abc')
print(m)
print(m.group(), m.pos)


# Dot(.) : a와 b 사이에 줄바꿈 문자를 제외한 어떤 무낮도 모구 해치
p =re.compile('a.b')
m= p.match('abc')
print(m)
#반복 *문자 압ㅍ에 있는 a가 0번 이상 반복되면 매치
p =re.compile('cat+k')
m= p.match('ck')
print(m)

m = p.match('cak')
print(m)


m = p.match('catttk')
print(m)
print(m.group(),m.start())

<re.Match object; span=(0, 1), match='a'>
a 0
None
None
None
<re.Match object; span=(0, 6), match='catttk'>
catttk 0